.signup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 9999;
}

.signup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 900px;
  height: 600px;
  max-width: 92vw;
  max-height: 90vh;

  background: #fff;
  border-radius: 14px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.35);

  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.signup-header {
  padding: 25px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;    
}

.signup-content {
  background: #f9fafb;
  padding: 15px;
  display: grid;
  place-items: Left;
  overflow: hidden;
}

.signup-buttons {
  padding: 25px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  place-items: center;
}